fastapi
uvicorn
asyncpg
python-dotenv
pydantic
python-multipart
qdrant-client==1.10.1
fastembed
numpy
minio
pypdf2
pillow
huggingface-hub
faker
reportlab
qrcode
python-docx
anthropic>=1.8
httpx
pytesseract
pdf2image
